<!doctype html>
<html>
    <head>
        <title>Gallery - Dashboard</title>
        <h1>Dashboard</h1>
        <h2>Welcome, {{ user }}</h2>
    </head>
    <body>
        <form method="POST" action="" enctype="multipart/form-data">
            <p>Upload Photo<br>
            <input type="file" id="img" name="img" accept="image/*"><br><br>
            <input type="submit" name="btn" value="Upload Photo"></p>
            <br>
            <p style="color: greenyellow;"><img src="{{ output }}"><br>
            {{ message }}</p>
            <br>
            <p><input type="submit" name="btn" value="Open Gallery"></p>
        </form>
    </body>
</html>